<div class="marquee_bar">
    <marquee behavior="scroll" direction="left">
        <table>
            <tr>
                <td ng-repeat="(name, rate) in rates" class="lead">
                    <span class="rate_name">{{name}}</span>
                    <span ng-class="{red: rate.delta < 0, green: rate.delta > 0}">{{rate.price|number:2}}</span>
                    &nbsp;
                </td>
            </tr>
        </table>
    </marquee>
</div>

<h1>Rates trend</h1>
<span ng-repeat="(name, data) in history">
<input type="checkbox" ng-model="data.is_selected">{{name}}</input>
</span>
<a href="" ng-click="selectAll(true)">All</a>
<a href="" ng-click="selectAll(false)">None</a>
<div id="rates_chart" line-chart="history">
</div>
