<a href="#/brokers">Brokers</a>
<div class="marquee_bar">
    <marquee behavior="scroll" direction="left">
        <table>
            <tr>
                <td ng-repeat="rate in rates" class="lead">
                    <span class="rate_name">{{rate.name}}</span>
                    <span ng-class="{red: rate.delta < 0, green: rate.delta > 0}">{{rate.price|number:2}}</span>
                    &nbsp;
                </td>
            </tr>
        </table>
    </marquee>
</div>

<h1>Rates trend</h1>
<div id="rates_chart" line-chart="history">
</div>
